{% extends "layout.html" %}

{% block page_content %}
<script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>

<title>lolbox - spread everything</title>

<div id="main"></div>

<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" role="form">
            <div class="form-group">
                <textarea required id="text" class="form-control" name="text" placeholder="что нового?" maxlength="100"></textarea>
                <small><span id="chars">100</span> символов осталось</small>
                <p></p>
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                Опубликовать</button>
            <script>
             $(document).ready(function() {
                 $('button').attr('disabled', true);
                 $('textarea').keypress(function(e){
                     if (e.keyCode == 13) return false
                 })
                 $('textarea').on('keyup',function() {
                     var textarea_value = $("#text").val();
                     if(textarea_value != '') {
                         $('button').attr('disabled' , false);
                     }else{
                         $('button').attr('disabled' , true);
                     }});
                 var maxLength = 100;
                 $('textarea').keyup(function() {
                     var length = $(this).val().length;
                     var length = maxLength-length;
                     $('#chars').text(length);
                 });
             });
            </script>
        </form>
    </div>
</div>

<script>
    function tm(unix_tm) {
        var dt = new Date(unix_tm*1000);
        document.writeln(dt.toLocaleString("ru"));
    }
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Свежие посты</div>
    <div class="panel-body">
        {% for post in posts%}
        <div class="panel panel-default">
            <div class="panel-body">
                <h5><strong>{{ post.author|id_to_username }}</strong> <span class="label label-default"><script>tm({{post.time}})</script></span></h5>
                {{post.text}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
