{% extends "layout.html" %}

{% block page_content %}
<script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>

<title>lolbox - spread everything</title>

<div id="main"></div>

<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" role="form">
            <div class="form-group">
                <textarea required class="form-control" name="text" placeholder="что нового?" maxlength="100"></textarea>
                <small class="text-muted">Максимум 100 символов</small>
            </div>
            <button type="submit" class="btn btn-primary">запостить</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Свежие посты</div>
    <div class="panel-body">
        {% for post in posts%}
        <div class="panel panel-default">
            <div class="panel-body">
                {{post.text}} <span class="label label-default">{{ post.time|ctime }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
