{% extends "layout.html" %}

{% block page_content %}
<script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<title>lolbox - fuck all rules</title>
<div id="main"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать новый топик.</div>
    <div class="panel-body">
<form name="newtopic" method="post">
    <input required type="text" name="text" placeholder="Название темы." maxlength="100">
    <button type="submit" class="btn btn-primary" name="submit">начать гребаный треш.</button>
</form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Самые горячие топики.</div>
    <div class="panel-body">
        {% for topic in topics%}
        <a href="/topic/{{topic.number}}" class="btn btn-info" role="button">{{topic.name}} <span class="badge">{{ topic.posts|length }}</span></a>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
