{% extends "layout.html" %}

{% block page_content %}
<title>lolbox - {{ topic.name }} ({{ topic.posts|length }})</title>

<h2> {{ topic.name }} 
    <span class="label label-default">Постов в теме -> {{ topic.posts|length }}</span>
</h2>

<div class="panel panel-default">
    <div class="panel-heading">Добавить новый пост.</div>
    <div class="panel-body">
        <form role="form" data-toggle ="validator" name="postbox" method="post" enctype=multipart/form-data>
            <textarea required name="text" placeholder="Ваш пост." maxlength="300"></textarea>
            <div class="help-block">Не более 300 символов.</div>
            <div class="well"><p>Залить файл.</p>
                {{ form.csrf_token }}
                {{ form.file }}
            </div>
            <button type="submit" class="btn btn-success btn-sm" name="submit">запостить.</button>
        </form>
    </div>
</div>

{% for post in topic.posts|reverse %}
<div class="panel panel-default">
    <div class="panel-body">
        {% if post.file_name %}
        <a href="https://s3.amazonaws.com/lolbox/uploads/{{ post.file_id }}" target="_blank"><img class="resize" src="https://s3.amazonaws.com/lolbox/uploads/{{ post.file_id }}"></a>
        <p> {{ post.file_name }} </p>
        {% endif %}
        {{ post.text|urlize(40) }} <span class="label label-primary"> {{ post.time }}</span>
    </div>
</div>
{% endfor %}

{% endblock %}

