{% extends "base.html" %}

{% block title %}Pikasuuu{% endblock %}

{% block page_content %}
<div class="jumbotron">
  <h4>ээээ, здарова, народ. мне сегодня было скучно (совсем скучно, как вы поймете дальше), а тут еще и эти экзамены по физике. до которых осталось:</h4>
  <script src="http://megatimer.ru/s/1de7792a57dd70fddbdb35b7a7069d68.js"></script>
  <h4>жесть. и мне лень все это учить :) поэтому я решил создать "Pikasuuu". Тут будут все билеты, задачи, определения и прочая хрень, которую нам нужно учить..</h4>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Список билетов по физике</div>
  <div class="panel-body">
{% for ticket in tickets%}
    <a href="/ticket/{{ticket.number}}" class="btn btn-info" role="button">Билет №{{ticket.number}} <span class="badge">{{ ticket.answers|length }}</span></a>
{% endfor %}
  </div>
</div>
{% endblock %}
