{% extends "layout.html" %}

{% block title %}lolbox - {{ topic.name }}{% endblock %}

{% block page_content %}
<h2> {{ topic.name }} </h2> <p> Постов в теме-> {{ topic.posts|length }} </p>

<div class="panel panel-default">
    <div class="panel-heading">Добавить новый пост.</div>
    <div class="panel-body">
        <form role="form" data-toggle ="validator" name="postbox" method="post" enctype=multipart/form-data>
            <textarea required name="text" placeholder="Ваш пост." maxlength="300"></textarea>
            <div class="help-block">Maximum of 300 characters</div>
            <p>Upload a file</p>
            <input required type=file name=file>
            <input type="submit" name="submit" value="запостить.">
        </form>
    </div>
</div>

<style>
 img {max-height:200px;
     max-width:200px}
</style>

{% for post in topic.posts|reverse %}
<div class="panel panel-default">
    <div class="panel-body">
        {% if post.file_name %}
        <img src="{{ url_for('uploaded_file', file_id=post.file_id) }}">
        <p> {{ post.file_name }} </p>
        {% endif %}
        {{ post.text|urlize(40) }} <span class="label label-primary"> {{ post.time }}</span>
    </div>
</div>
{% endfor %}

{% endblock %}

